body{
    background-image: url(https://wallpaperaccess.com/full/2312001.jpg);
}

@media screen and (max-width:400px) {
    body{
        background-size: cover;
        width: 400px;
    }

    .col-4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px;


    }
    #div{
width: 100px;
    }
    
}